In [68]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [69]:
### Merge all csv files.

#create list with files you want to merge.
df = pd.read_csv("SalesAnalysis/Sales_Data/Sales_April_2019.csv")
files = [files for files in os.listdir('SalesAnalysis/Sales_Data')]

#create empty df
all_months_data = pd.DataFrame()

#interate files and add them to the df
for file in files:
    df = pd.read_csv("SalesAnalysis/Sales_Data/" + file)
    all_months_data = pd.concat([all_months_data, df])

all_months_data.to_csv("all_data.csv", index=False)

In [70]:
# Read and update dataframe
#Cleen up the data!
    #- Drop rows of NAN
    #- Get rid of text in order date column
    #- Make columns correct type
all_data = pd.read_csv('all_data.csv')
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head()

all_data = all_data.dropna(how="all")

all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'],errors='coerce')
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head()
all_data = all_data.dropna(how="all")
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head()
all_data = all_data.dropna(how="any")
nan_df = all_data[all_data.isna().any(axis=1)]
nan_df.head()

all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'])
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])

all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

all_data['Month 2'] = pd.to_datetime(all_data['Order Date']).dt.month

In [71]:
# Add city column
def get_city(address):
    return address.split(",")[1].strip(" ")

def get_state(address):
    return address.split(",")[2].split(" ")[1]

all_data['City'] = all_data['Purchase Address'].apply(lambda x: f"{get_city(x)}  ({get_state(x)})")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Month 2,City
0,176558,USB-C Charging Cable,2.0,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,4,Dallas (TX)
1,176559,Bose SoundSport Headphones,1.0,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,4,Boston (MA)
2,176560,Google Phone,1.0,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,4,Los Angeles (CA)
3,176560,Wired Headphones,1.0,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,4,Los Angeles (CA)
4,176561,Wired Headphones,1.0,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,4,Los Angeles (CA)

In [73]:
# Question 1: What was the best month for sales? How much was earned that month?
all_data['Sales'] = all_data['Quantity Ordered'].astype('int') * all_data['Price Each'].astype('float')
all_data.groupby(['Month']).sum()

       Quantity Ordered  Price Each  Month 2       Sales
Month
1               10903.0  1811768.38     9709  1822256.73
2               13449.0  2188884.72    23950  2202022.42
3               17005.0  2791207.83    45459  2807100.38
4               20558.0  3367671.02    73116  3390670.24
5               18667.0  3135125.13    82830  3152606.75
6               15253.0  2562025.61    81324  2577802.26
7               16072.0  2632539.56   100051  2647775.76
8               13448.0  2230345.42    95688  2244467.88
9               13109.0  2084992.09   104589  2097560.13
10              22703.0  3715554.83   202820  3736726.88
11              19798.0  3180600.68   193303  3199603.20
12              28114.0  4588415.41   299808  4613443.34